@model IMDB2.Models.Person
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="height:70px"></div>
<div style="padding-left:400px">

    <a href="@Url.Content("~/Profile/Edit/"+Model.Id)" class="list-group-item list-group-item-action flex-column align-items-start" style="width:400px">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Edit Account</h5>
        </div>
    </a>
    <div style="height:25px"></div>
    <a href="@Url.Content("~/Profile/AddFavoriteMovies/")" class="list-group-item list-group-item-action flex-column align-items-start" style="width:400px">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Add Favorite Movies</h5>
        </div>
    </a>
    <div style="height:25px"></div>
    <a href="@Url.Content("~/Profile/Edit/"+Model.Id)" class="list-group-item list-group-item-action flex-column align-items-start" style="width:400px">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Add Favorite Actors</h5>
        </div>
    </a>
    <div style="height:25px"></div>
    <a href="@Url.Content("~/Profile/Edit/"+Model.Id)" class="list-group-item list-group-item-action flex-column align-items-start" style="width:400px">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Add Favorite Directors</h5>
        </div>
    </a>
</div>

