@model IEnumerable<IMDB2.Models.Movie>
@{
    ViewBag.Title = "IndexUser";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="height:20px"></div>
<div class="row">

    @foreach (var movie in Model)
    {
        <div class="card border-secondary mb-3" style="max-width: 14rem;">
            <a class="list-group-item list-group-item-action" href="@Url.Content("/Movies/Details/" + movie.Id )">
                <h4>@movie.Name</h4>

                <img src="@Url.Content("~/images/" + movie.Img)" alt="Sample Image" class="d-block user-select-none" width="150" height="200" aria-label="Placeholder: Image cap" focusable="false" />

            </a>

        </div>
        <div style="max-width: 12rem;"></div>

    }
</div>






