@model IEnumerable<IMDB2.Models.Movie>
@{
    ViewBag.Title = "IndexUser";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">

    @foreach (var movie in Model)
    {
        <div class="card border-secondary mb-3" style="max-width: 15rem;">
            <a class="list-group-item list-group-item-action" href="@Url.Content("/Movies/New/" + movie.Id )">
                <h4>@movie.Name</h4>
                
                <img src="@Url.Content("~/images/" + movie.Img)" alt="Sample Image" class="d-block user-select-none" width="150" height="200" aria-label="Placeholder: Image cap" focusable="false" />
                
            </a>
            <i class="glyphicon glyphicon-apple" style="font-size:48px;color:red;"></i>
        </div>
        <div style="max-width: 15rem;"></div>

    }
</div>






